@media (max-width: 1600px) {
    *{
        font-size: 24px;
    }
    h1{
        font-size: 88px;
    }
    .container{
        max-width: 1000px;
    }
    .navbar{
        height: 54px;
    }
    .navbar-links{
        height: 54px;
    }
    .navbar-links a{
        font-size: 16px;
    }
    .block-for-avatar{
        height: 340px;
        width: 340px;
        margin: 0 0 35px 5px;
    }
    .avatar{
        transform: translateX(-340px);
    }
    .text{
        font-size: 88px;
    }
}
@media (max-width: 1440px) {
    *{
        font-size: 20px;
    }
    h1{
        font-size: 80px;
    }
    .container{
        max-width: 950px;
    }
    .navbar{
        height: 54px;
    }
    .navbar-links{
        height: 54px;
    }
    .navbar-links a{
        font-size: 16px;
    }
    .welcome-block{
        margin-top: 80px;
    }
    .block-for-avatar{
        height: 300px;
        width: 300px;
        margin-bottom: 35px;
    }
    .avatar{
        transform: translateX(-300px);
    }
    .text{
        font-size: 80px;
    }
    .about-me-header{
        margin-bottom: 20px;
    }
}
@media (max-width: 820px) {
    *{
        font-size: 20px;
    }
    h1{
        font-size: 80px;
    }
    .container{
        max-width: 780px;
    }
    .navbar{
        height: 54px;
    }
    .navbar-links{
        height: 54px;
    }
    .navbar-links a{
        font-size: 16px;
    }
    .welcome-block{
        margin-top: 80px;
    }
    .block-for-avatar{
        height: 300px;
        width: 300px;
        margin-bottom: 35px;
    }
    .avatar{
        transform: translateX(-300px);
    }
    .text{
        font-size: 80px;
    }
    .about-me-header{
        margin-bottom: 20px;
    }
}
@media (max-width: 400px) {
    *{
        font-size: 14px;
    }
    h1{
        font-size: 60px;
    }
    .container{
        padding: 0 10px;
    }
    /* NAVBAR */
    .navbar-links{
        display: none;
    }
    .navbar{
        padding: 17px 0;
    }
    .navbar-links-mobile { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-main { }
    .navbar-button { }

    /* WELCOME */

    .block-for-avatar{
        height: 240px;
        width: 240px;
        margin: 0 0 20px 5px;
    }
    .avatar{
        transform: translateX(-240px);
    }
    .hello-animation{
        margin-bottom: 0px;
    }
    .text{
        font-size: 60px;
    }
    .stick{
        height: 50px;
    }
    .welcome-block{
        margin-top: 120px;
    }
    .welcome-text{
        margin-bottom: 20px;
        line-height: 24px;
    }

    /* ABOUT ME */

    .text-about { 
        margin-bottom: 26px;
    }
    #second-stick{
        height: 14px;
    }

}