@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa',  cursive;
    font-size: 28px;
    font-weight: bold;
    color: var(--color-theme), color 1s;
}
:root{
    --background-theme: none;
    --background-navbar-theme: #3E3D3D;
    --background-navbar-drop-theme: rgb(92, 92, 92);
    --color-theme: black;
    --color-navbar-theme: white;
    --deg: 30deg;
    --theme-img-dark:url(/src/assets/theme-dark.png);
    --theme-img-white:url(/src/assets/theme-white.png);
    --theme-img-red:url(/src/assets/theme-red.png);
    --theme-img-yellow:url(/src/assets/theme-yellow.png);
    --theme-img-blue:url(/src/assets/theme-blue.png);
}
body{
    height: 100vh;
    width: 99vw;
    background: var(--background-theme);
    color: var(--color-theme);
    transition: background 1s,color 1s;
}
a{
    text-decoration: none;
    color: var(--color-navbar-theme);
}
h1{
    font-size: 96px;
}
.container { 
    max-width: 1300px;
    margin: 0 auto;
}

/* NAVBAR */
.navbar-links-mobile{
    display: none;
}
.navbar { 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 60px;
    width: 100vw;
    background-color: #3E3D3D;
    transition: opacity 1s;
    opacity: 0;
    background: var(--background-navbar-theme);
    color: var(--color-navbar-theme);
    transition: background 1s, color 1s;
}
.navbar-links { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.navbar-links a{
    font-size: 20px;
    padding: 5px;
    transition: color .5s, background .5s;
}
.navbar-main{
    display: flex;
    align-items: center;
}
.themes { 
    margin-left: 40px;
    display: flex;
}
.themes-button { 
    background-image: var(--theme-img-white);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    transition: transform .3s, background-image .6s, background-color .6s;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    background-color: none;
}
.themes-button:hover{
    transform: rotate(var(--deg));
}
.rotate{
    transform: rotate(180deg);
}
.themes-drop-hider{
    overflow: hidden;
    position: relative;
    height: 40px;
    width: 200px;
}
.themes-drop { 
    position: absolute;
    height: 40px;
    width: 200px;
    display: flex;
    right: 200px;
    transition: right 1s;
}
.theme-button-color { 
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}
.theme-button-color.white{
    background-image: url(/src/assets/theme-white.png);
}
.theme-button-color.dark{
    background-image: url(/src/assets/theme-dark.png);
}
.theme-button-color.red{
    background-image: url(/src/assets/theme-red.png);
}
.theme-button-color.yellow{
    background-image: url(/src/assets/theme-yellow.png);
}
.theme-button-color.blue{
    background-image: url(/src/assets/theme-blue.png);
}
.slided{
    right: 0;
}
.navbar-right { 
    display: flex;
    align-items: center;
}
.navbar-link-with-underline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 52px;
    position: relative;
}
.navbar-link:hover .navbar-underline{ 
    animation: underline 1.2s forwards ;
}
.navbar-underline{
    height: 6px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    position: absolute;
    top: 50px;
}
.active{
    color: rgb(176, 176, 176);
}
.navbar-drop{
    display: flex;
    width: 150px;
    position: absolute;
    top: -150px;
    background: var(--background-navbar-drop-theme);
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    z-index: 0;
    transition: top .6s ease-in-out, opacity 1s, background 1s;
}
.navbar-drop a{
    text-align: center;
    padding: 10px 5px;
    font-size: 20px;
}
.navbar-drop a:hover{
    background: rgb(71, 71, 71);
    color: rgb(142, 142, 142);
}
.navbar-drop-hider{
    display: flex;
    height: 150px;
    width: 120%;
    overflow: hidden;
    position: absolute;
    top:46px;
    align-content: center;
    justify-content: center;
}
.drop{
    top: 0;
}
.content-wrapper{
    transition: opacity 1s;
    opacity: 0;
}

/* Welcome Avatar*/
.welcome-block{
    margin-top: 120px;
}

.block-for-avatar{
    height: 372px;
    width: 372px;
    overflow: hidden;
    margin: 0 0 35px 8px; /* media param */
}
.avatar{
    background-image: url(/Users/User/Downloads/avat.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform: translateX(-372px);
    animation: cubic-bezier(0,0,0,1) img 2s 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Welcome Hello */

.hello-animation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 35px;
    min-height: 107px;
}
.text{
    font-size: 96px;
}
.stick{
    background-color: var(--color-theme);
    height: 22px;
    width: 2px;
    display: block;
}
.show{
    display: inline-block;
}
.hiden{
    opacity: 0;
    display: inline-block;
}

/* Welcome Text */
.welcome-text-block{
    display: flex;
    flex-direction: column;
}
.welcome-text{
    margin-bottom: 32px;
    opacity: 0;
    animation: color 1s 3s forwards ;
}
.arrow-button{
    background-image: url(/src/assets/arr.png);
    height: 26px;
    width: 49px;
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity .5s;
    animation: cubic-bezier(0,0,0,1) arror-up-down 1s infinite alternate;
}
.opacity{
    opacity: 0;
}

/* About-me  */

.about-me-block { 
    margin-bottom: 200px;
}
.about-me-header { 
    margin-bottom: 55px;
    margin-top: 100px;
}
.text-about-animation { 
    min-height: 560px;
}
.text-about { 
    margin-bottom: 45px;
}
.back{
    background-color: #0052d6;
    color: white;
}
.line{
    text-decoration: line-through;
}
.mrgn-left{
    margin-left: 20px;
}

/* Проекты */

.my-projects{
    margin-bottom: 200px;
}

.my-projects-header{
    margin-bottom: 200px;
}

/* Анимации */

@keyframes img {
    100%{
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes arror-up-down {
    100%{
        transform: translateY(10px);
    }
}
@keyframes color {
    to{
        opacity: 1;
    }
}
@keyframes underline {
    0%{
        top: 50px;
        transform: scale(.05, 5);
    }
    25%{
        opacity: .5;
        top: 30px;
        transform: scale(.05, 0.5);
    }
    50%{
        transform: rotate(180deg) scale(.1, 0.5);
        opacity: 1;
    }
    100%{
        opacity: 1;
        top: 30px;
        transform: rotate(180deg) scale(1, .5);
    }
}